* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Poppins-font {
    font-family: "Poppins", sans-serif;
}

/* Common Style */
.section-center-1 {
    width: 92%;
    max-width: 1180px;
    margin: 0 auto;
}

.section-center-2 {
    width: 86%;
    max-width: 1102px;
    margin: 0 auto;
}

.section-center-3 {
    width: 82%;
    max-width: 1050px;
    margin: 0 auto;
}

:root {
    /* Uses in Multiple Sections */
    --pure-black: #000;
    --pure-white: #FFF;
    --primary-color-b: #3A3A3A;
    --pink: #E02C6D;

    /* For-Cards */
    --card-lg-text: #18191F;
    --cards-small-text: #787885;
    --rating-text: #5E6366;
    --rating-star: #FB8200;


    /* For-Products */
    --prod-lg-text: #0A0826;
    --prod-small-text: #6C6C6C;

    /* For-Fotter */
    --footer-small-text: #D9DBE1;

    /* Top-Bottom Border-Color */
    --border-clr: rgba(128, 128, 128, 0.247);
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.63rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--pink);
    color: var(--pure-white);
    font-weight: 700;
    font-size: 0.87rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.btn i {
    margin-left: 0.3rem;
    font-size: 0.89rem;
}

.btn:hover {
    transform: scale(1.02);
}


/* Header | Navber-Section */
header {
    margin: 5rem 0 6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 ;
    color: var(--pure-black);
}

nav a {
    color: var(--primary-color-b);
    font-size: 1.07rem;
}

nav .nav-logo a {
    font-weight: 700;
}

nav .nav-links a {
    font-weight: 500;
    margin-left: 2rem;
    font-size: 1.02rem;
}

nav .nav-links i {
    margin-left: 1rem;
    font-size: 1.02rem;
}

/* Hero-Section */

.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(./images/Circle\ design.png);
    background-repeat: no-repeat;
    background-position:  right center;
    padding: 5rem 0;
    color: var(--primary-color-b);
}


/* Hero-Content */
.hero-container .hero-content {
    width: 50%;
    
}

.hero-container h2 {
    font-size: 2.82rem;
    line-height: 3.44rem;
}

.hero-container p {
    width: 80%;
    font-size: 0.87rem;
    font-weight: 500;
    margin: 0.7rem 0;
}


/* Hero-Img */
.hero-container .hero-img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

.hero-container .hero-img img {
    width: 90%;
}



/* Main Section | Brand-Section */
.brand-container {
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);
    padding: 1.4rem 0;
    margin: 5rem auto;
}

.brand-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    gap: 2rem;
}

.brand-images img {
    width: 5rem;
}



/* Popular Collection Section */
.collection {
    text-align: end;
}

.collection-container {
    text-align: center;
    margin-bottom: 1.5rem;
}

.card-container {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.87rem;
    margin-top: 1.87rem;
}

.card-container .card {
    box-shadow: 0 0 40px #00000015;
    padding: 1rem;
    border-radius: 0.3125rem;
}

.card-container .card img {
    width: 100%;
    border-radius: 0.4rem;
}

.card-container .card .prod-nm {
    font-size: 1.5rem;
    color: var(--cards-lg-text);
    font-weight: 600;
    margin-top: 0.5rem;
}

.card-container .card .price {
    font-size: 1.1rem;
    color: var(--pure-black);
    font-family: "Inter", sans-serif;
    margin: 0.5rem 0
}

.card-container .card .rating i {
    font-size: 0.7rem;
    color: var(--rating-star);
    margin-bottom: 0.4rem;
}

.card-container .card .rating
.fa-star-half-stroke {
    margin-right: 0.4rem;
}

.card-container .card .rating > span {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--rating-text);
}

.card-container .card .prod-info {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--cards-small-text);
    font-family: "Inter", sans-serif;
    line-height: 1.25rem;
}

.collection > a {
    color: var(--pink);
    font-size: 0.9rem;
    font-weight: 600;
}

.collection > a:hover {
    text-decoration: underline;
}



/* Fetures Section */
.fetures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6rem auto;
}

.fetures .fetures-img {
    width: 40%;
}

.fetures .fetures-img img {
    width: 90%;
}

.fetures .fetures-content {
    width: 55%;
}

.fetures .fetures-content h2 {
    font-size: 2.1rem;
    color: var(--prod-lg-text);
}

.fetures .fetures-content p {
    width: 80%;
    color: var(--prod-small-text);
    font-size: 0.88rem;
    font-weight: 650;
    line-height: 1.44rem;
    margin: 1rem 0;
}

.sq-btn {
    border-radius: 1px;
}